<html>
    <head>
        <title>FarMe Data - Edit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
    <body>
        <div style="max-width: 540px; margin-left: 20px;">
        <form method="POST" action='/varedit/varchange/{{data_item.device_id}}'> {% csrf_token %}
            <div class="form-group">
                <label for="device_id">Device ID</label>
                <input name="device_id" type="number" value="{{ data_item.device_id }}" class="form-control" placeholder="Enter Device ID">
            </div>

            <div class="form-group">
                <label for="latitide">Latitude</label>
                <input name="latitude" type="number" step="any" value="{{ data_item.latitude }}" class="form-control" placeholder="Enter Latitude">
            </div>

            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input name="longitude" type="number" step="any" value="{{ data_item.longitude }}" class="form-control" placeholder="Enter Longitude">
            </div>
            
            <button class="btn" type="submit">Submit</button>
        </form>
        </div>
    </body>
</html>