<html>
    <head>
        <title>FarMe Data</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
    <body>
        <div>
        <h2>Sensor Data</h2><br>
        <a href="/add"><button class="btn">Add new data</button></a><br><br>
        
        
        <div id="container"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
            Highcharts.chart('container', {
                responsive: {
                    rules: [{condition: {maxWidth: 500}}]
                },
                chart: {
                    type: 'line',
                    backgroundColor: '#F0F0F0',
                },
                title: {
                    text: 'Data over Time'
                },
                xAxis: {
                    categories: [{% for entry in data %}'{{entry.timestamp|date:"d M Y" }} {{ entry.timestamp|time:"H:i:s" }}',{% endfor %}]
                },
                series: [{name:"Temperature", data: [{% for entry in data %}{{ entry.temp }},{% endfor %}]},
                {name:"Ambient Light Level", data: [{% for entry in data %}{{ entry.amb_ll }},{% endfor %}]},
                {name:"Ambient Humidity", data: [{% for entry in data %}{{ entry.loc_humidity }},{% endfor %}]},
                {name:"Soil Moisture 1", data: [{% for entry in data %}{{ entry.sm1 }},{% endfor %}]},
                {name:"Soil Moisture 2", data: [{% for entry in data %}{{ entry.sm2 }},{% endfor %}]},
                {name:"Soil Moisture 3", data: [{% for entry in data %}{{ entry.sm3 }},{% endfor %}]},
                {name:"Soil Moisture 4", data: [{% for entry in data %}{{ entry.sm4 }},{% endfor %}]},
                {name:"Soil Moisture 5", data: [{% for entry in data %}{{ entry.sm5 }},{% endfor %}]},
                {name:"Soil Moisture 6", data: [{% for entry in data %}{{ entry.sm6 }},{% endfor %}]},
                {name:"Soil Moisture 7", data: [{% for entry in data %}{{ entry.sm7 }},{% endfor %}]},
                {name:"Soil Moisture 8", data: [{% for entry in data %}{{ entry.sm8 }},{% endfor %}]},]
            });
          </script>
        <hr>
        </div>

        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Device ID</th>
                <th>Latitude</th>
                <th>Longtiude</th>
                <th>Ambient Light Level</th>
                <th>Temperature</th>
                <th>Localised Ambient Humidity</th>
                <th>Soil Moisture Sensor 1</th>
                <th>Soil Moisture Sensor 2</th>
                <th>Soil Moisture Sensor 3</th>
                <th>Soil Moisture Sensor 4</th>
                <th>Soil Moisture Sensor 5</th>
                <th>Soil Moisture Sensor 6</th>
                <th>Soil Moisture Sensor 7</th>
                <th>Soil Moisture Sensor 8</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry.device_id }}</td>
                <td>{{ entry.latitude }}</td>
                <td>{{ entry.longitude }}</td>
                <td>{{ entry.amb_ll }}</td>
                <td>{{ entry.temp }}</td>
                <td>{{ entry.loc_humidity }}</td>
                <td>{{ entry.sm1 }}</td>
                <td>{{ entry.sm2 }}</td>
                <td>{{ entry.sm3 }}</td>
                <td>{{ entry.sm4 }}</td>
                <td>{{ entry.sm5 }}</td>
                <td>{{ entry.sm6 }}</td>
                <td>{{ entry.sm7 }}</td>
                <td>{{ entry.sm8 }}</td>
                <td>{{ entry.timestamp|date:"d M Y" }} {{ entry.timestamp|time:"H:i:s" }}</td>
                <td><a href='/edit/{{ entry.device_id }}'><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href='/delete/{{ entry.device_id }}'><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </body>
</html>
